In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor

from sklearn.metrics import mean_squared_error,r2_score

In [3]:
#1st Dataset

In [4]:
airfoil = pd.read_csv('airfoil.dat', sep='\t', names = ['frequency','angle','chordlength','velocity','thinkness','soundlevel'])

In [160]:
#airfoil.to_csv('airfoil.csv')

In [142]:
airfoil.shape

(1503, 6)

In [140]:
airfoil.describe()

,frequency,angle,chordlength,velocity,thinkness,soundlevel
count,1503.000000,1503.000000,1503.000000,1503.000000,1503.000000,1503.000000
mean,2886.380572,6.782302,0.136548,50.860745,0.011140,124.835943
std,3152.573137,5.918128,0.093541,15.572784,0.013150,6.898657
min,200.000000,0.000000,0.025400,31.700000,0.000401,103.380000
25%,800.000000,2.000000,0.050800,39.600000,0.002535,120.191000
50%,1600.000000,5.400000,0.101600,39.600000,0.004957,125.721000
75%,4000.000000,9.900000,0.228600,71.300000,0.015576,129.995500
max,20000.000000,22.200000,0.304800,71.300000,0.058411,140.987000

In [25]:
airfoil.corr()

             frequency     angle  chordlength  velocity  thinkness  soundlevel
frequency     1.000000 -0.272765    -0.003661  0.133664  -0.230107   -0.390711
angle        -0.272765  1.000000    -0.504868  0.058760   0.753394   -0.156108
chordlength  -0.003661 -0.504868     1.000000  0.003787  -0.220842   -0.236162
velocity      0.133664  0.058760     0.003787  1.000000  -0.003974    0.125103
thinkness    -0.230107  0.753394    -0.220842 -0.003974   1.000000   -0.312670
soundlevel   -0.390711 -0.156108    -0.236162  0.125103  -0.312670    1.000000

In [26]:
X = airfoil.drop(columns=['soundlevel'])
y = airfoil[['soundlevel']]

In [27]:
print(X.shape,y.shape)

(1503, 5) (1503, 1)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

#print("Linear Regression")
lr = LinearRegression()
lr = lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print("MSE for LR: %.2f" %mean_squared_error(y_test,y_pred))


#print("KNN")
knn = KNeighborsRegressor()
knn = knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("MSE for KNN: %.2f" %mean_squared_error(y_test,y_pred))

MSE for LR: 24.78
MSE for KNN: 40.00

In [29]:
#2nd Dataset

In [14]:
#energy = pd.read_excel('energy.xlsx', sep='\t')

energy = pd.read_csv('energy.csv')


Specifically:

X1 Relative Compactness

X2 Surface Area

X3 Wall Area

X4 Roof Area

X5 Overall Height

X6 Orientation

X7 Glazing Area

X8 Glazing Area Distribution

y1 Heating Load

y2 Cooling Load

In [15]:
energy.head(2)

   Unnamed: 0    X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0           0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1           1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33

In [16]:
energy.drop(columns='Unnamed: 0',inplace=True)

In [17]:
energy.shape

(768, 10)

In [18]:
energy.isna().sum()

X1    0
X2    0
X3    0
X4    0
X5    0
X6    0
X7    0
X8    0
Y1    0
Y2    0
dtype: int64

In [19]:
energy.corr()

,X1,X2,X3,X4,X5,X6,X7,X8,Y1,Y2
X1,1.000000e+00,-9.919015e-01,-2.037817e-01,-8.688234e-01,8.277473e-01,0.000000,1.283986e-17,1.764620e-17,0.622272,0.634339
X2,-9.919015e-01,1.000000e+00,1.955016e-01,8.807195e-01,-8.581477e-01,0.000000,1.318356e-16,-3.558613e-16,-0.658120,-0.672999
X3,-2.037817e-01,1.955016e-01,1.000000e+00,-2.923165e-01,2.809757e-01,0.000000,-7.969726e-19,0.000000e+00,0.455671,0.427117
X4,-8.688234e-01,8.807195e-01,-2.923165e-01,1.000000e+00,-9.725122e-01,0.000000,-1.381805e-16,-1.079129e-16,-0.861828,-0.862547
X5,8.277473e-01,-8.581477e-01,2.809757e-01,-9.725122e-01,1.000000e+00,0.000000,1.861418e-18,0.000000e+00,0.889430,0.895785
X6,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0.000000e+00,0.000000e+00,-0.002587,0.014290
X7,1.283986e-17,1.318356e-16,-7.969726e-19,-1.381805e-16,1.861418e-18,0.000000,1.000000e+00,2.129642e-01,0.269842,0.207505
X8,1.764620e-17,-3.558613e-16,0.000000e+00,-1.079129e-16,0.000000e+00,0.000000,2.129642e-01,1.000000e+00,0.087368,0.050525
Y1,6.222719e-01,-6.581199e-01,4.556714e-01,-8.618281e-01,8.894305e-01,-0.002587,2.698417e-01,8.736846e-02,1.000000,0.975862
Y2,6.343391e-01,-6.729989e-01,4.271170e-01,-8.625466e-01,8.957852e-01,0.014290,2.075050e-01,5.052512e-02,0.975862,1.000000

In [150]:
#1st Target Regression - y1 : heating load
X = energy.drop(columns=['Y1','Y2'])
y = energy[['Y1']]

In [151]:
print(X.shape,y.shape)

(768, 8) (768, 1)

In [152]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

#print("Linear Regression")
lr = LinearRegression()
lr = lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print("MSE for LR: %.2f" %mean_squared_error(y_test,y_pred))


#print("KNN")
knn = KNeighborsRegressor()
knn = knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("MSE for KNN: %.2f" %mean_squared_error(y_test,y_pred))

MSE for LR: 10.82
MSE for KNN: 6.27

In [153]:
#2nd Target Regression - y2 : cooling load
X = energy.drop(columns=['Y1','Y2'])
y = energy[['Y2']]

In [154]:
print(X.shape,y.shape)

(768, 8) (768, 1)

In [155]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

#print("Linear Regression")
lr = LinearRegression()
lr = lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print("MSE for LR: %.2f" %mean_squared_error(y_test,y_pred))


#print("KNN")
knn = KNeighborsRegressor()
knn = knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("MSE for KNN: %.2f" %mean_squared_error(y_test,y_pred))

MSE for LR: 12.39
MSE for KNN: 4.81

In [156]:
#3rd Dataset

In [27]:
column_names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'year', 'origin', 'name']
#mpg = pd.read_csv('mpg.data', delim_whitespace=True, names=column_names)

mpg = pd.read_csv('mpg.csv')

In [28]:
mpg.shape

(398, 10)

In [29]:
mpg.columns

Index(['Unnamed: 0', 'mpg', 'cylinders', 'displacement', 'horsepower',
       'weight', 'acceleration', 'year', 'origin', 'name'],
      dtype='object')

In [30]:
mpg.head(2)

,Unnamed: 0,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320

In [31]:
#column not needed
mpg.drop(columns=['Unnamed: 0','name'],inplace=True)

In [32]:
mpg.corr()

,mpg,cylinders,displacement,weight,acceleration,year,origin
mpg,1.000000,-0.775396,-0.804203,-0.831741,0.420289,0.579267,0.563450
cylinders,-0.775396,1.000000,0.950721,0.896017,-0.505419,-0.348746,-0.562543
displacement,-0.804203,0.950721,1.000000,0.932824,-0.543684,-0.370164,-0.609409
weight,-0.831741,0.896017,0.932824,1.000000,-0.417457,-0.306564,-0.581024
acceleration,0.420289,-0.505419,-0.543684,-0.417457,1.000000,0.288137,0.205873
year,0.579267,-0.348746,-0.370164,-0.306564,0.288137,1.000000,0.180662
origin,0.563450,-0.562543,-0.609409,-0.581024,0.205873,0.180662,1.000000

In [33]:
#the dataset has ? instead of NAs. Replacing them with NAs
mpg = mpg.replace('?', np.nan)

In [34]:
mpg.dropna(inplace=True)

In [35]:
#Target : mpg
X = mpg.drop(columns='mpg')
y = mpg[['mpg']]

In [133]:
print(X.shape,y.shape)

(392, 7) (392, 1)

In [134]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [135]:
#print("Linear Regression")
lr = LinearRegression()
lr = lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
print("MSE for LR: %.2f" %mean_squared_error(y_test,y_pred))

MSE for LR: 11.81

In [136]:

#print("KNN")
knn = KNeighborsRegressor()
knn = knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
print("MSE for KNN: %.2f" %mean_squared_error(y_test,y_pred))

MSE for KNN: 21.36