In [50]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np

In [36]:
data = pd.read_csv('Sales by Store - Department.xls',sep='\t')

In [37]:
data['Month'] = pd.DatetimeIndex(data['Date']).month

In [38]:
data['Quarter'] = pd.DatetimeIndex(data['Date']).quarter

In [39]:
data['Year'] = pd.DatetimeIndex(data['Date']).year

In [40]:
data['Week'] = pd.DatetimeIndex(data['Date']).week

In [41]:
data.isna().sum()

Store                   0
Dept                    0
Date                    0
Weekly_Sales            0
IsHoliday               0
Previous Weeks Sales    0
Month                   0
Quarter                 0
Year                    0
Week                    0
dtype: int64

In [42]:
#monthly_sales = data.groupby(['Store','Dept','Year','Month'])['Weekly_Sales'].sum().reset_index()

In [43]:
#monthly_sales['']

In [44]:
X = data[['Store', 'Dept', 'IsHoliday', 'Month', 'Quarter',
       'Year']]
Y = data[['Weekly_Sales']]

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [46]:
rfr = RandomForestRegressor(n_estimators = 250, random_state=0)               #RandomForestRegressor
rfr.fit(X_train,y_train)
y_pred=rfr.predict(X_test)

/Users/dikshya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [51]:
print(metrics.mean_absolute_error(y_test, y_pred))
print(metrics.mean_squared_error(y_test, y_pred))
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
accuracy = rfr.score(X_test,y_test)
print('accuracy RandomForestRegressor: ',accuracy*100,'%')

1809.8224768542436
24605609.38570089
4960.404155479761
accuracy RandomForestRegressor:  95.2814998874791 %

In [54]:
X_test[:1]

        Store  Dept  IsHoliday  Month  Quarter  Year
272342     28    40      False      1        1  2012

In [70]:
d = pd.read_excel('Test_data.xlsx')

In [71]:
d

      Store  Dept  Month  Year  Quarter  IsHoliday
0         1     1     12  2012        4       True
1         1     2     12  2012        4       True
2         1     3     12  2012        4       True
3         1     4     12  2012        4       True
4         1     5     12  2012        4       True
5         1     6     12  2012        4       True
6         1     7     12  2012        4       True
7         1     8     12  2012        4       True
8         1     9     12  2012        4       True
9         1    10     12  2012        4       True
10        1    11     12  2012        4       True
11        1    12     12  2012        4       True
12        1    13     12  2012        4       True
13        1    14     12  2012        4       True
14        1    16     12  2012        4       True
15        1    17     12  2012        4       True
16        1    18     12  2012        4       True
17        1    19     12  2012        4       True
18        1    20     12  2012        4       True
19        1    21     12  2012        4       True
20        1    22     12  2012        4       True
21        1    23     12  2012        4       True
22        1    24     12  2012        4       True
23        1    25     12  2012        4       True
24        1    26     12  2012        4       True
25        1    27     12  2012        4       True
26        1    28     12  2012        4       True
27        1    29     12  2012        4       True
28        1    30     12  2012        4       True
29        1    31     12  2012        4       True
...     ...   ...    ...   ...      ...        ...
3010     45    42     12  2012        4       True
3011     45    44     12  2012        4       True
3012     45    45     12  2012        4       True
3013     45    46     12  2012        4       True
3014     45    52     12  2012        4       True
3015     45    54     12  2012        4       True
3016     45    55     12  2012        4       True
3017     45    56     12  2012        4       True
3018     45    58     12  2012        4       True
3019     45    59     12  2012        4       True
3020     45    60     12  2012        4       True
3021     45    67     12  2012        4       True
3022     45    71     12  2012        4       True
3023     45    72     12  2012        4       True
3024     45    74     12  2012        4       True
3025     45    79     12  2012        4       True
3026     45    80     12  2012        4       True
3027     45    81     12  2012        4       True
3028     45    82     12  2012        4       True
3029     45    83     12  2012        4       True
3030     45    85     12  2012        4       True
3031     45    87     12  2012        4       True
3032     45    90     12  2012        4       True
3033     45    91     12  2012        4       True
3034     45    92     12  2012        4       True
3035     45    93     12  2012        4       True
3036     45    94     12  2012        4       True
3037     45    95     12  2012        4       True
3038     45    97     12  2012        4       True
3039     45    98     12  2012        4       True

[3040 rows x 6 columns]

In [74]:
predictionsNov = rfr.predict(d)

In [75]:
predictionsNov

array([16346.54864   , 40304.21522533,  9088.80329924, ...,
       43993.853042  ,  5892.72058   ,   207.09374657])

In [69]:
data.loc[(data.Month==11) & (data.Year==2011) ]['Weekly_Sales']

91        39886.06
92        18689.54
93        19050.66
94        20911.25
234       47313.62
235       44936.47
236       43997.78
237       44259.59
377        9189.20
378        9959.64
379       10104.36
380        9317.56
520       39354.84
521       36826.52
522       37656.58
523       46564.14
663       31956.07
664       31002.65
665       27339.37
666       79340.15
806        6223.03
807        3527.62
808        2640.98
809       18629.83
949       24182.96
950       25942.35
951       21953.16
952       71151.34
1092      36959.48
1093      34003.52
            ...
420534    26014.68
420535    27883.55
420675    17256.02
420676    18275.25
420677    17142.28
420678    13811.49
420818    53299.02
420819    56680.10
420820    54868.94
420821    55986.63
420961     1640.50
420962     1781.90
420963     2055.62
420964     3898.68
421095     3160.91
421096     3325.40
421097     3267.06
421098     4288.49
421238    53342.74
421239    49865.11
421240    46240.97
421241    48012.46
421383     6093.25
421384     5795.63
421385     6018.90
421386     5200.55
421518      749.18
421519      897.22
421520      503.20
421521      794.62
Name: Weekly_Sales, Length: 11901, dtype: float64