Demonstrate your model, by creating forecasts for the
following periods:

â€¢ Month of November 2012

In [246]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
import numpy as np

In [210]:
data = pd.read_csv('Sales by Store - Department.xls',sep='\t')

In [182]:
data['Month'] = pd.DatetimeIndex(data['Date']).month

In [183]:
data['Quarter'] = pd.DatetimeIndex(data['Date']).quarter

In [184]:
data['Year'] = pd.DatetimeIndex(data['Date']).year

In [185]:
data['Week'] = pd.DatetimeIndex(data['Date']).week

In [207]:
data[['Store','Dept']].shape

(421570, 2)

In [212]:
#data[['Store','Dept']].drop_duplicates().shape

(3331, 2)

In [186]:
data.isna().sum()

Store                   0
Dept                    0
Date                    0
Weekly_Sales            0
IsHoliday               0
Previous Weeks Sales    0
Month                   0
Quarter                 0
Year                    0
Week                    0
dtype: int64

In [187]:
data.head(2)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Previous Weeks Sales,Month,Quarter,Year,Week
0,1,1,2/5/10,24924.50,False,0.0,2,1,2010,5
1,1,1,2/12/10,46039.49,True,24924.5,2,1,2010,6

import matplotlib.pylab as plt
%matplotlib inline
fig=plt.figure(figsize=(18, 16), dpi= 80, facecolor='w', edgecolor='k')

In [189]:
data['Date'] = pd.DatetimeIndex(data['Date'])

In [190]:
#fig.p(data['Date'],data['Weekly_Sales'])

In [191]:
#del data['Date']

In [192]:
data.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday',
       'Previous Weeks Sales', 'Month', 'Quarter', 'Year', 'Week'],
      dtype='object')

In [193]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['IsHoliday'] = le.fit_transform(data['IsHoliday'])

In [194]:
from statsmodels.api import OLS
from sklearn.linear_model import LinearRegression

In [195]:
train2012 = data.loc[data['Year']==2012]

In [214]:
train2012.shape

(127438, 10)

In [197]:
#monthly = data.groupby(['Store','Dept','Year','Quarter','Month'])['Weekly_Sales'].sum().reset_index()

In [ ]:
monthly = data.groupby(['Store','Dept','Year','Quarter','Month'])['Weekly_Sales'].sum().reset_index()

In [215]:
year_2010 = monthly.loc[monthly['Year']==2010]

In [216]:
year_2011 = monthly.loc[monthly['Year']==2011]

In [217]:
year_2012 = monthly.loc[monthly['Year']==2012]

In [218]:
print(year_2010.shape,year_2011.shape,year_2012.shape)

(33169, 6) (36484, 6) (30528, 6)

In [220]:
year_2010.rename(columns={"Weekly_Sales": "Monthly_2010"},inplace=True)
year_2011.rename(columns={"Weekly_Sales": "Monthly_2011"},inplace=True)
year_2012.rename(columns={"Weekly_Sales": "Monthly_2012"},inplace=True)

/Users/dikshya/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3027: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  "Boolean Series key will be reindexed to match " "DataFrame index.",

In [223]:
year_2012.head(2)

    Store  Dept  Year  Quarter  Month  Monthly_2012
23      1     1  2012        1      1      70205.35
24      1     1  2012        1      2     134683.30

In [162]:
#data_processed = data[['Store','Dept','Year','Quarter','Month','Week','Weekly_Sales','IsHoliday']]

In [163]:
#data_processed.head(2)

   Store  Dept  Year  Quarter  Month  Week  Weekly_Sales  IsHoliday
0      1     1  2010        1      2     5      24924.50          0
1      1     1  2010        1      2     6      46039.49          1

In [175]:
#train2012.head(3)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Previous Weeks Sales,Month,Quarter,Year,Week
100,1,1,2012-01-06,16567.69,0,23350.88,1,1,2012,1
101,1,1,2012-01-13,16894.40,0,16567.69,1,1,2012,2
102,1,1,2012-01-20,18365.10,0,16894.40,1,1,2012,3

In [168]:
#del year_2010['Year'],year_2011['Year'],year_2012['Year']

In [174]:
#monthly.head(2)

   Store  Dept  Year  Quarter  Month  Weekly_Sales
0      1     1  2010        1      2     131963.08
1      1     1  2010        1      3      91237.14

In [ ]:
#train2012.head(3)

In [225]:
year_2010.drop(columns='Year',inplace=True)
year_2011.drop(columns='Year',inplace=True)
year_2012.drop(columns='Year',inplace=True)

/Users/dikshya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/dikshya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/dikshya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [226]:
print(year_2010.shape,year_2011.shape,year_2012.shape)

(33169, 5) (36484, 5) (30528, 5)

In [229]:
year_2012 = year_2012.merge(year_2010,on=['Store','Dept','Quarter','Month'],how='left')

In [230]:
year_2012 = year_2012.merge(year_2011,on=['Store','Dept','Quarter','Month'],how='left')

In [231]:
year_2012.shape

(30528, 7)

In [234]:
year_2012.isna().sum()

Store              0
Dept               0
Quarter            0
Month              0
Monthly_2012       0
Monthly_2010    4152
Monthly_2011     873
dtype: int64

In [235]:
#for now
year_2012.fillna(0,inplace=True)

In [237]:
year_2012.shape

(30528, 7)

In [239]:
year_2012.columns

Index(['Store', 'Dept', 'Quarter', 'Month', 'Monthly_2012', 'Monthly_2010',
       'Monthly_2011'],
      dtype='object')

train2012 = train2012.merge(year_2010,on = ['Store','Dept','Quarter','Month'], how='left')
train2012 = train2012.merge(year_2011,on = ['Store','Dept','Quarter','Month'], how='left')
train2012 = train2012.merge(year_2012,on = ['Store','Dept','Quarter','Month'], how='left')

In [177]:
#train2012.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday',
       'Previous Weeks Sales', 'Month', 'Quarter', 'Year', 'Week',
       'Monthly_2010', 'Monthly_2011', 'Monthly_2012'],
      dtype='object')

In [178]:
#train2012.head(2)

,Store,Dept,Date,Weekly_Sales,IsHoliday,Previous Weeks Sales,Month,Quarter,Year,Week,Monthly_2010,Monthly_2011,Monthly_2012
0,1,1,2012-01-06,16567.69,0,23350.88,1,1,2012,1,NaN,69146.59,70205.35
1,1,1,2012-01-13,16894.40,0,16567.69,1,1,2012,2,NaN,69146.59,70205.35

In [179]:
#data_processed.fillna(0,inplace=True)

In [242]:
X = year_2012[['Store', 'Dept', 'Quarter', 'Month','Monthly_2010',
       'Monthly_2011']]
Y = year_2012[['Monthly_2012']]

In [243]:
from sklearn.model_selection import train_test_split

In [244]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

model = OLS(X_train,y_train)
results = model.fit()
print(results.summary())

pred = results.predict(X_test)

from sklearn.metrics import r2_score

pred

y_test.values

#mean_squared_error(y_test.values,pred)
r2_score(y_test.values,pred)

model = LinearRegression().fit(X_train,y_train)

pred_lr = model.predict(X_test)

r2_score(y_test,pred_lr)

In [245]:
rfr = RandomForestRegressor(n_estimators = 250, random_state=0)               #RandomForestRegressor
rfr.fit(X_train,y_train)
y_pred=rfr.predict(X_test)

/Users/dikshya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [251]:
print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print(metrics.r2_score(y_test, y_pred))

11743.345130800535
0.9842314792124602

In [249]:
feature_importances = pd.DataFrame(rfr.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance',ascending=False)

In [250]:
feature_importances

              importance
Monthly_2011    0.953367
Month           0.025392
Monthly_2010    0.006740
Quarter         0.005499
Store           0.004578
Dept            0.004425

In [254]:
X_test[:1]

      Store  Dept  Quarter  Month  Monthly_2010  Monthly_2011
7934     12    21        2      4      21748.15      22075.16

In [255]:
nov_data = pd.read_excel('Test_data.xlsx')

In [256]:
nov_data.head(2)

   Store  Dept  Month  Quarter
0      1     1     11        4
1      1     2     11        4

In [258]:
nov_data.shape

(3040, 4)

In [259]:
print(year_2010.shape,year_2011.shape,nov_data.shape)

(33169, 5) (36484, 5) (3040, 4)

In [260]:
nov_data = nov_data.merge(year_2010,on=['Store','Dept','Quarter','Month'],how='left')

In [261]:
nov_data = nov_data.merge(year_2011,on=['Store','Dept','Quarter','Month'],how='left')

In [263]:
nov_data.head(3)

   Store  Dept  Month  Quarter  Monthly_2010  Monthly_2011
0      1     1     11        4      92161.40      98537.51
1      1     2     11        4     176701.15     180507.46
2      1     3     11        4      38880.91      38570.76

In [264]:
nov_data.fillna(0,inplace=True)

In [266]:
nov_data['Monthly_2012'] = rfr.predict(nov_data)

In [268]:
nov_data.to_csv('Q1_PredictionsNOV2012.csv',index=False)

In [93]:
#data_processed = data[['Store','Dept','Year','Quarter','Month','Week','Weekly_Sales','IsHoliday']]

In [108]:
del nov_data['IsHoliday']

In [111]:
nov_data = nov_data.merge(year_2010,on = ['Store','Dept','Quarter','Month'], how='left')
#data_processed = data_processed.merge(year_2011,on = ['Store','Dept','Year','Quarter','Month'], how='left')
#data_processed = data_processed.merge(year_2012,on = ['Store','Dept','Year','Quarter','Month'], how='left')

In [270]:
nov_data

      Store  Dept  Month  Quarter  Monthly_2010  Monthly_2011  Monthly_2012
0         1     1     11        4      92161.40      98537.51   83484.82976
1         1     2     11        4     176701.15     180507.46  155313.28864
2         1     3     11        4      38880.91      38570.76   36524.57328
3         1     4     11        4     156268.46     160402.08  127444.01984
4         1     5     11        4     142478.05     169638.24  145065.33752
5         1     6     11        4      32956.67      31021.46   22745.07220
6         1     7     11        4     137105.06     143229.81  117768.85564
7         1     8     11        4     141569.01     137376.40  112112.37036
8         1     9     11        4     158027.59     159507.21  128358.55368
9         1    10     11        4     114989.47     122826.34  104405.69812
10        1    11     11        4     101053.04     100740.09   85996.06764
11        1    12     11        4      38264.27      37869.91   34193.86236
12        1    13     11        4     154721.26     154866.81  125615.25744
13        1    14     11        4      85975.15      86115.64   77102.19768
14        1    16     11        4      27935.90      25518.48   21366.37276
15        1    17     11        4      41278.51      36965.26   32147.76624
16        1    18     11        4      69964.93      69007.12   59776.90004
17        1    19     11        4       5965.16       3378.17    3691.24596
18        1    20     11        4      14950.31      14409.38   11826.85644
19        1    21     11        4      32065.35      35505.66   30808.74604
20        1    22     11        4      38914.76      43193.76   34763.94656
21        1    23     11        4     104222.00      96161.73   76076.40536
22        1    24     11        4      32342.62      27926.81   23527.73648
23        1    25     11        4      41539.49      42263.43   34598.38156
24        1    26     11        4      37686.20      31280.33   26061.59996
25        1    27     11        4       7112.70       7586.17    6934.93476
26        1    28     11        4       3754.12       2929.19    3893.52668
27        1    29     11        4      21956.12      19531.55   16341.72136
28        1    30     11        4      11397.52      10438.30    9141.84296
29        1    31     11        4       9398.80       6387.85    6746.88876
...     ...   ...    ...      ...           ...           ...           ...
3010     45    42     11        4      17019.12      19961.20   18017.82068
3011     45    44     11        4      11407.92      12209.25    9331.93532
3012     45    45     11        4          5.47          0.00      36.48420
3013     45    46     11        4      60039.72      51895.79   44613.45528
3014     45    52     11        4       6097.60       6690.49    7701.95520
3015     45    54     11        4        234.15        126.52      61.94128
3016     45    55     11        4      52789.14      60236.80   49950.38276
3017     45    56     11        4       1693.14       1408.99    2055.40792
3018     45    58     11        4       7063.00       3490.00    4993.36092
3019     45    59     11        4       6587.20       1682.27    5854.24404
3020     45    60     11        4        464.60        624.80     622.45804
3021     45    67     11        4      23546.51      25241.77   21705.37152
3022     45    71     11        4      19865.21      22851.14   17141.25384
3023     45    72     11        4     343154.71     343995.45  273496.87412
3024     45    74     11        4      47163.39      45974.39   36685.31556
3025     45    79     11        4      59700.88      63327.32   53650.59376
3026     45    80     11        4        115.11       3686.60    3441.04160
3027     45    81     11        4      60772.26      56339.97   47663.31224
3028     45    82     11        4      56868.11      50974.08   42558.47008
3029     45    83     11        4       3683.18       2315.56    4112.18988
3030     45    85     11        4       7592.74       6906.34    6602.03632
3031     45    87     11        4      21658.25      29114.09   28672.89988
3032     45    90     11        4      95358.90     105547.66   86701.48540
3033     45    91     11        4      61173.55      66485.04   57215.85896
3034     45    92     11        4     203853.96     220834.69  190044.06952
3035     45    93     11        4       9813.09       9376.70   10111.78676
3036     45    94     11        4      18476.78      14041.86   13687.41520
3037     45    95     11        4     180986.66     197461.28  173374.05700
3038     45    97     11        4      24332.97      23108.33   18460.64136
3039     45    98     11        4        657.91       2944.22    4430.31908

[3040 rows x 7 columns]

In [271]:
year_2012.shape

(30528, 7)

In [272]:
nov_data.shape

(3040, 7)

In [276]:
df = pd.concat([year_2012,nov_data],axis=0)

In [277]:
df.to_csv('Merged_Q1_allData.csv',index=False)